@import-normalize;

:root {
    --main-bg-color: #37373d;
    --hover-color: #90caf9;
    --error-color: #f44336;
    --size-height: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

p {
    margin: 0;
    padding: 0;
}